.margin-zero {
  margin: 0;
}
.quality-principle {
  @extend .about-principle;
  .lead-wrap {
    .lead-round {
      h4 {
        width: auto !important;
        span {
          display: block;
          color: #000033;
          font-family: $mont-mdm;
          font-size: 15px;
          text-transform: uppercase;
        }
      }
    }
  }
  &.about-edge {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 140px;
      background: #3fb1b3;
      bottom: -70px;
      left: 50%;
      @include translate(-50%, 0);
    }
    .lead-wrap {
      .lead-round {
        h4 {
          width: 70% !important;
        }
      }
    }
  }
}
.quality-assurance {
  @extend .probiotics-content;
  border-top: 10px solid #fff;
  padding: 85px 0 90px;
  .container {
    width: 1100px;
    figure {
      margin: 40px 0 0;
    }
    h2 {
      margin: 0 0 30px;
    }
    ul {
      li {
        line-height: 33px;
        padding: 0 0 30px 30px;
        background: url("../images/ico_check.png") no-repeat left top 10px;
      }
    }
    p {
      margin: 0;
      a {
        display: inline-block;
        color: #3bb2b3;
        border-bottom: 1px solid #3bb2b3;
      }
    }
  }
}
